@import 'pixel-retroui/dist/index.css';
body {
  margin: 0;
  
  font-family: 'minecraft';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
